{% extends "base/subpage.html" %}

{% block subheading %}History{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ root }}index.html">Home</a></li>
    <li><a href="{{ root }}about/index.html">About Us</a></li>
    <li class="active">History</li>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/tSxfgeVtVzM" frameborder="0" allowfullscreen></iframe>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <div class="spacer20 visible-xs visible-sm"></div>
        <h4>1. Beginnings</h4>
        <p>
            Faith Community Church, aka FCC, began in 1988 under the direction of Pastor Cliff and Eleanor Quantz, who formerly pastored in the Missionary Church denomination. Known for his ministry in spiritual warfare, Dr. Quantz helped many people who were oppressed by the enemy. At first FCC met in one of the member's homes, but over time it built its own facility, which also looked like a house, and carried on all of the activities of a typical evangelical church.
        </p>
    </div>

    <div class="col-md-4 text-center">
        <img src="{{ media }}img/history/cliffeleanor.jpg" alt="">
    </div>
</div>


<div class="row">
    <div class="col-md-8">
        <div class="spacer20 visible-xs visible-sm"></div>
        <h4>2. Interim</h4>
        <p>
            Upon Pastor Cliff's retirement from active pastoring, FCC brought in another veteran pastor by the name of John Seiter as an Interim Pastor in January, 2001. During John's tenure Cliff unexpectedly passed away leaving many to face an even more uncertain future without their founding pastor. Pastor John ministered effectively helping the church to transition through those tough months.
        </p>
    </div>

    <div class="col-md-4 text-center">
        <img src="{{ media }}img/history/johnpaulette.jpg" alt="">
    </div>
</div>


<div class="row">
    <div class="col-md-8">
        <div class="spacer20 visible-xs visible-sm"></div>
        <h4>3. Continuing</h4>
        <p>
            After Pastor John's 18 month interim pastorate was completed, Pastor Peter Damaska arrived at FCC for about 2 years. He brought an air of youthful enthusiasm, transitioning the congregation from a traditional worship style to a blended contemporary format. Sensing the Lord's direction to return to his denominational roots, his family was sent off in June of 2004.
        </p>
    </div>

    <div class="col-md-4 text-center">
        <img src="{{ media }}img/history/petersarah.jpg" alt="">
    </div>
</div>


<div class="row">
    <div class="col-md-8">
        <div class="spacer20 visible-xs visible-sm"></div>
        <h4>4. Tenured</h4>
        <p>
            Randy and Tammy Smith, PhD, began at FCC in July of 2004. The Smith family came to FCC straight from serving for years as cross-cultural workers in Costa Rica. Pastor Randy had also been a pastor, church planter, professor, and worship leader. He was FCC's longest-serving pastor and helped the church transition in worship / finding a fit in the evangelical/neo-charismatic branch of Christianity / broaden into a congregation with people from a variety of backgrounds / and formed strategic alliances with people sharing the Good News around the world.
        </p>

    </div>

    <div class="col-md-4 text-center">
        <img src="{{ media }}img/history/randytammyhistory.jpg" alt="">
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <div class="spacer20 visible-xs visible-sm"></div>
        <h4>5. Bridge</h4>
        <p>
            Eric assumed the senior leadership position in July, 2019 after serving for over a year as Associate Pastor. He has been a pastor, youth pastor, adjunct professor, and an ESL teacher in Asia before arriving at FCC in March, 2018. He has an MA in Theological Studies and completed an intensive ministry course at Bethel Church in Redding, CA. He is married to Tina who has a BA in Applied Foreign Languages. In June 2020 They relocated from FCC back to Tina's home country of Taiwan.
        </p>

    </div>

    <div class="col-md-4 text-center">
        <img src="{{ media }}img/history/erictinahistory2.jpg" alt="">
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <div class="spacer20 visible-xs visible-sm"></div>
        <h4>6. Today</h4>
        <p>
            Peter was accepted as the senior leadership position in January, 2021.
        </p>

    </div>

    <div class="col-md-4 text-center">
        <img src="{{ media }}img/peterjohnson.jpg" alt="">
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <div class="spacer20 visible-xs visible-sm"></div>
        <p> In August 2010 the church relocated from its smaller house-looking facility on Ash Rd to the former Jimtown North Elementary School on CR 16, Elkhart. For the next 5 years this spacious school allowed us to expand not only our worship capacity, but just as importantly our outreach to the community. After that we purchased the current facility strategically located on the busy Old US-20 (McKinley) corridor. The church also owns a 22 acres site for potential future growth.</p>
    </div>
</div>


<div class="row">
    <div class="col-md-8">
        <div class="spacer20 visible-xs visible-sm"></div>
        <p> Faith Community Church recently celebrated 30 years of ministry. Click below to view a video recap of the church's first 3 decades.</p>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/5nH3ZYVYB9M" frameborder="0" allowfullscreen></iframe>
    </div>
</div>

{% endblock %}
