{% extends "base/subpage.html" %}

{% block subheading %}About Us{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ root }}index.html">Home</a></li>
    <li class="active">About Us</li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/bp7aoVjDn6w" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>

    <div class="spacer20"></div>

    <div class="row">
        <div class="col-md-8">
            <p>
                When you are looking for a home church people wonder whether there will be people like them there. We are a multigenerational church with newborn babies clear up to folks facing end-of-life issues. We have marrieds, singles, and families, people just like you would meet anywhere. Some work in construction, in education, in business, are students or retired.
            </p>
            <p>
                We are a small or medium size church depending on your definition. Although we do not belong to a particular denomination and have people from a variety of backgrounds, our theology and bylaws are borrowed from the <em>Association of Vineyard Churches</em>. Our music is contemporary and is played with a full worship band.
            </p>

        </div>

        <div class="col-md-4 text-center">
            <img src="{{ media }}img/aboutworship.jpg" alt="">
        </div>

    </div>



{% endblock %}
