{% extends "base/subpage.html" %}

{% block subheading %}Staff{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ root }}index.html">Home</a></li>
    <li><a href="{{ root }}about/index.html">About Us</a></li>
    <li class="active">Staff</li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-4">
            <div class="our-team">
                <div class="our-team-image">
                    <a href="{{ media }}img/staff/randystaff.jpg" class="zoom popup-link" title="Lead Pastor Randy">
                        <img src="{{ media }}img/staff/randytammystaff.jpg" alt="Lead Pastor Randy">
                    </a>
                </div>
                <div class="our-team-text">
                    <h5><a href="#">Randy Smith</a></h5>
                    <h6>Lead Pastor</h6>
                        <p>Pastor Randy began at FCC in July, 2004 straight from years serving as a missionary in Costa Rica. In addition to pastoral roles as a missionary, Dr Smith was a church planter/pastor with the Missionary Church in Washington State, an associate pastor in Michigan, a pastoral intern at a Vineyard Church in NE Indiana, a worship leader and an occasional adjunct professor at Bethel College. He occasionally travels internationally offering pastoral friendship & counsel, and currently chairs the board for the mission organization <a href="http://www.global-teams.net/" target="_blank">Global Teams</a>. Randy holds a Ph.D. in Intercultural Studies and a M.A. in World Mission & Evangelism from Asbury Theological Seminary, as well as a M.Min. in Pastoral Studies and a B.A. in Bible Literature from Bethel College. He is married to Tammy and they have two adult married children, as well as grandchildren.</p>
                    <div class="our-team-social social-2">
                        <a href="{{ root }}about/contact.html"><i class="icon-envelope-alt rightmost-icon"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="our-team">
                <div class="our-team-image">
                    <a href="{{ media }}img/staff/ericstaff.jpg" class="zoom popup-link" title="Associate Pastor">
                        <img src="{{ media }}img/staff/erictinastaff.jpg" alt="In Transition">
                    </a>
                </div>
                <div class="our-team-text">
                    <h5><a href="#">Eric Gayle</a></h5>
                    <h6>Associate Pastor</h6>
                        <p>Eric took his place in a line of wonderful servants who have filled this role in March, 2018. Eric has been a pastor, youth pastor, adjunct professor, and most recently an ESL teacher in Asia. He has an MA in Theological Studies and completed an intensive ministry course at Bethel Church in Redding, CA. He is married to Tina who has a BA in Applied Foreign Languages. Eric and Tina relocated to FCC direct from Tina’s home country of Taiwan and are eagerly awaiting the arrival of their first child.</p>
                    <div class="our-team-social social-2">
                        <a href="{{ root }}about/contact.html"><i class="icon-envelope-alt rightmost-icon"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="our-team">
                <div class="our-team-image">
                    <a href="{{ media }}img/staff/janestaff.jpg" class="zoom popup-link" title="Administrative Assistant">
                        <img src="{{ media }}img/staff/randyjanehoguestaff.jpg" alt="Jane Hogue">
                    </a>
                </div>
                <div class="our-team-text">
                    <h5><a href="#">Jane Hogue</a></h5>
                    <h6>Administrative Assistant</h6>
                        <p>As an original member at FCC, Jane began serving as Administrative Assistant in January, 2017 after working many years at Bethel College. She brings with her not only a strong professional background in office administration, but a deep love for God and people. She is a Bethel College grad - a happy wife, mother and grandmother - and we are blessed to have her on board.</p>
                    <div class="our-team-social social-2">
                        <a href="{{ root }}about/contact.html"><i class="icon-envelope-alt rightmost-icon"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>

{% endblock %}
