{% extends "base/subpage.html" %}

{% block subheading %}Staff{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ root }}index.html">Home</a></li>
    <li><a href="{{ root }}about/index.html">About Us</a></li>
    <li class="active">Staff</li>
{% endblock %}

{% block content %}
    <div class="row">

        <div class="col-md-4">
            <div class="our-team">
                <div class="our-team-image">
                    <a href="{{ media }}img/peterjohnson.jpg" class="zoom popup-link" title="Associate Pastor">
                        <img src="{{ media }}img/johnsonfamily.jpg" alt="In Transition">
                    </a>
                </div>
                <div class="our-team-text">
                    <h5><a href="#">Peter Johnson</a></h5>
                    <h6>Lead Pastor</h6>
                        <p>Peter Johnson comes to Faith Community Church from Minnesota along with his wife Julie, daughter Kara, and son Elijah.</p>
                    <div class="our-team-social social-2">
                        <a href="{{ root }}about/contact.html"><i class="icon-envelope-alt rightmost-icon"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="our-team">
                <div class="our-team-image">
                    <a href="{{ media }}img/staff/janestaff.jpg" class="zoom popup-link" title="Administrative Assistant">
                        <img src="{{ media }}img/staff/randyjanehoguestaff.jpg" alt="Jane Hogue">
                    </a>
                </div>
                <div class="our-team-text">
                    <h5><a href="#">Jane Hogue</a></h5>
                    <h6>Administrative Assistant</h6>
                        <p>As an original member at FCC, Jane began serving as Administrative Assistant in January, 2017 after working many years at Bethel College. She brings with her not only a strong professional background in office administration, but a deep love for God and people. She is a Bethel College grad - a happy wife, mother and grandmother - and we are blessed to have her on board.</p>
                    <div class="our-team-social social-2">
                        <a href="{{ root }}about/contact.html"><i class="icon-envelope-alt rightmost-icon"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>

{% endblock %}
