{% extends "base/subpage.html" %}

{% block subheading %}Staff{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ root }}index.html">Home</a></li>
    <li><a href="{{ root }}about/index.html">About Us</a></li>
    <li class="active">Staff</li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-4 col-md-offset-2">
            <div class="our-team">
                <div class="our-team-image">
                    <a href="{{ media }}img/staff/randystaff.jpg" class="zoom popup-link" title="Lead Pastor Randy">
                        <img src="{{ media }}img/staff/randytammystaff.jpg" alt="Lead Pastor Randy">
                    </a>                         
                </div>
                <div class="our-team-text">
                    <h5><a href="#">Randy Smith</a></h5>
                    <h6>Lead Pastor</h6>
                        <p>Pastor Randy began at FCC in July, 2004 straight from years serving as a missionary in Costa Rica. In addition to pastoral roles as a missionary, Dr Smith was a church planter/pastor with the Missionary Church in Washington State, an associate pastor in Michigan, a pastoral intern at a Vineyard Church in NE Indiana, a worship leader and an occasional adjunct professor at Bethel College. He occasionally travels internationally offering pastoral friendship & counsel, and currently chairs the board for the mission organization <a href="http://www.global-teams.net/" target="_blank">Global Teams</a>. Randy holds a Ph.D. in Intercultural Studies and a M.A. in World Mission & Evangelism from Asbury Theological Seminary, as well as a M.Min. in Pastoral Studies and a B.A. in Bible Literature from Bethel College. He is married to Tammy and they have two adult married children, and one grandchild.</p>
                    <div class="our-team-social social-2">
                        <a href="{{ root }}about/contact.html"><i class="icon-envelope-alt rightmost-icon"></i></a>
                    </div>
                </div>              
            </div>      
        </div>
        
        <div class="col-md-4">
            <div class="our-team">
                <div class="our-team-image">
                    <a href="{{ media }}img/staff/TBDstaff2.jpg" class="zoom popup-link" title="TBD">
                        <img src="{{ media }}img/staff/TBDstaff2.jpg" alt="TBD">
                    </a>                         
                </div>
                <div class="our-team-text">
                    <h5><a href="#">To Be Determined</a></h5>
                    <h6>New Assistant/Associate Pastor</h6>
                        <p>After 8 years of ministry at Faith Community Church, Pastor Mark Gardner has transitioned to full time teaching in the public schools. We are now actively pursuring God's next staff person who will serve our church in areas such as children's ministry, oversight of volunteers, and possibly youth. Interested parties may contact the Lead Pastor, Randy Smith PhD, directly for more info through the "Contact Us" section. Mark & Robyn will remain in the church, but not in a staff role.</p>
                    <div class="our-team-social social-2">
                        <a href="{{ root }}about/contact.html"><i class="icon-envelope-alt rightmost-icon"></i></a>
                    </div>
                </div>              
            </div>      
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-4 col-md-offset-2">
            <div class="our-team">
                <div class="our-team-image">
                    <a href="{{ media }}img/staff/cassiestaff2.jpg" class="zoom popup-link" title="Ministry Assistant Cassie">
                        <img src="{{ media }}img/staff/cassiestaff1.jpg" alt="Ministry Assistant Cassie">
                    </a>                         
                </div>
                <div class="our-team-text">
                    <h5><a href="#">Cassie Mills</a></h5>
                    <h6>Ministry Assistant</h6>
                        <p>Cassie grew up at FCC and has served as an intern in various capacities since May, 2012 while she has been a student at Bethel College. In February, 2014 she became our part-time Ministry Assistant dealing with secretarial functions in the office, as well as technology-related issues, graphics and photography. As the title implies, she assists our volunteers by doing many behind-the-scene tasks that allow ministry to occur.</p>
                    <div class="our-team-social social-2">
                        <a href="{{ root }}about/contact.html"><i class="icon-envelope-alt rightmost-icon"></i></a>
                    </div>
                </div>              
            </div>      
        </div>
    </div>

{% endblock %}