{% extends "base/subpage.html" %}

{% block subheading %}Welcome{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ root }}index.html">Home</a></li>
    <li class="active">Welcome</li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/6gC7V2O7FB4" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    
    <div class="spacer20"></div>
    
    <div class="row">
        <div class="col-md-8">
            <p>
            Thanks for visiting our website and we hope it will help you as you seek out a local church family. Under the WHO WE ARE heading you can see where we have come from and who we are currently. The WHAT WE DO tab gives you some idea of the sorts of activities in which we engage. YOUTH is obvious and GLOBAL FOCUS tells a bit about our partners around the world. 
            </p><p>
            We invite you to come for a visit, drop us an email, or give us a call. God is on the move here at FCC! -Pastor Randy &amp; Tammy
            </p>
        </div>
        <div class="col-md-4 text-center">
            <img src="{{ media }}img/randytammywelcome.jpg" alt="">
        </div>
    </div>
{% endblock %}