{% extends "base/subpage.html" %}

{% block subheading %}Welcome{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ root }}index.html">Home</a></li>
    <li><a href="{{ root }}about/index.html">About Us</a></li>
    <li class="active">Welcome</li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/Y35gLCCewfg" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>

    <div class="spacer20"></div>

    <div class="row">
        <div class="col-md-8">
            <p>
            Thanks for visiting our website and we hope it will help you as you seek out a local church family. Please note that there are several sub-pages under the major tabs. Of course the best way to check out a church is do come by for a visit. God will be faithful to direct His children to a good church where they can grow and serve. -Pastor Eric &amp; Tina for the FCC family
            </p>
        </div>
        <div class="col-md-4 text-center">
            <img src="{{ media }}img/erictinawelcome.jpg" alt="">
        </div>
    </div>
{% endblock %}
