{% extends "base/subpage.html" %}

{% block subheading %}Adults{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ root }}index.html">Home</a></li>
    <li><a href="{{ root }}ministries/index.html">Ministries</a></li>
    <li class="active">Adults</li>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-8">
            <p>
                In addition to corporate worship and other whole group times, there are ministries geared specifically toward adults. Most every Sunday at 9:30AM there are <em>small groups</em>, some of which are reminiscent of Sunday School classes, while others are more relational. Wednesdays at 6:30PM there is an adult Bible study and a women's group, which also cares for the infants.
            </p>
            <p>
                Beyond settings aroud the Word, there are social events in homes or at the facility; occasional sporting events; annual special events where we eat together; and much more.
            </p>
        </div>
        
        <div class="col-md-4 text-center">
            <img src="{{ media }}img/adults.jpg" alt="">
        </div>
        
    </div>

    <div class="spacer20"></div>

    <div class="row">
        <div class="col-md-12">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/45NS30f7p44" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>




{% endblock %}