{% extends "base/subpage.html" %}

{% block subheading %}Adults{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ root }}index.html">Home</a></li>
    <li><a href="{{ root }}ministries/index.html">Ministries</a></li>
    <li class="active">Adults</li>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-8">
            <p>
                In addition to corporate worship and other whole group times, there are ministries geared specifically toward adults. Most every Sunday at 9:30AM there are <em>small groups</em>, some of which are reminiscent of Sunday School classes, while others are more relational. Wednesdays at 6:30PM there is an adult Bible study and a women's group, which also cares for the infants.
            </p>
            <p>
                Beyond settings aroud the Word, there are social events in homes or at the facility; occasional sporting events; annual special events where we eat together; and much more.
            </p>
        </div>
        
        <div class="col-md-4 text-center">
            <img src="{{ media }}img/adultstudy.jpg" alt="">
        </div>
        
    </div>


    <div class="row">
        <div class="col-md-6">
            <div class="our-team">
                <div class="our-team-image">

                    <iframe width="560" height="315" src="https://www.youtube.com/embed/45NS30f7p44" frameborder="0" allowfullscreen></iframe>

                </div>
                <div class="our-team-text">
                    <h5>Faith Community Church</h5>
                    <h6>Baptisms 2011</h6>
                    <p>This video is an example of our commitment to help people become more fully devoted followers of Jesus Christ. Most every year we conduct a baptismal service in the early fall for those who want to follow the Lord in this step of faith and obedience.</p>
                </div>
            </div>
        </div>
    
     
        <div class="col-md-6">
            <div class="our-team">
                <div class="our-team-image">

                    <iframe width="560" height="315" src="https://www.youtube.com/embed/YQALv8S6rFc" frameborder="0" allowfullscreen></iframe>

                </div>
                <div class="our-team-text">
                    <h5>Faith Community Church</h5>
                    <h6>Candlelight Testimonies 2012</h6>
                    <p>Every year we hold a candlelight service on Thanksgiving Eve. The evening is filled with people sharing testimonies of how God has been faithful to them and is one of the most inspirational events we hold.</p>
                </div>
            </div>
        </div>
    </div>


{% endblock %}