{% extends "base/subpage.html" %}

{% block subheading %}Adults{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ root }}index.html">Home</a></li>
    <li><a href="{{ root }}whatwedo.html">What We Do</a></li>
    <li class="active">Adults</li>
{% endblock %}

{% block content %}
<p>
Church is definitely not just for kids!  Our adults, married, singles, young and old alike can take part in a bunch of activities.  
</p>
 
<ul>
    <li>There is great worship and Bible teaching every Sunday morning during the morning celebrations</li>
    <li>Mid-week Bible study</li>
    <li>Social events around football games, dominoes, euchre, etc.</li>
    <li>Small group studies in homes or at the church</li>
    <li>Eating in one another's homes or going out to eat with friends</li>
    <li>Participating in occasional events to benefit those in need</li>
    <li>Annual Bar-B-Q</li>
    <li>And much more...</li>
</ul>

<div class="spacer10"></div>
<p>
There is a place for you here at FCC!
</p>
<p>
Want to do more than simply attend?  Then get involved on one of our many <a href="{{ root }}teams.html">MINISTRY TEAMS</a>.
</p>
{% endblock %}