{% extends "base/subpage.html" %}

{% block subheading %}Children{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ root }}index.html">Home</a></li>
    <li><a href="{{ root }}ministries/index.html">Ministries</a></li>
    <li class="active">Children</li>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-8">
            <p>
                Calling all kids! Whether it's Sunday School, Kids' Klub (Mid-week), nursery, Vacation Bible School or our special chldren's activities, you'll find that the mission of Children's Ministries is not only about making fun memories, but helping kids grow in their walk with Jesus. On Sunday morning, parents with children 0-24 months may take advantage of our well-staffed nursery during the service. Children 24 months through 5th grade participate in the first half of the worship service with their parents, then are invited to exit for Sunday School during the second half. Wednesday evening Kid's Klub is a high energy, fun, Bible-intensive program led by people who really know their stuff.  
            </p>
            <p>
                FCC sees the importance of laying a foundation of trust in Jesus and the basics of the Christian faith during the childhood phase of life. We use a hands-on approach for teaching the truths of God's Word and our curriculum is chosen from well respected publishers. Additionally the children learn simply by being around teachers who model Christ-like love and respect. We appreciate the fact that children of different ages learn at different levels.   We're committed to reaching each child with the message of Christ's love.  For this reason, lessons are presented at a level appropriate for each stage of life.
            </p>
        </div>
        
        <div class="col-md-4 text-center">
            <img src="{{ media }}img/children.jpg" alt="">
        </div>
        
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="our-team">
                <div class="our-team-image">

                    <iframe width="560" height="315" src="https://www.youtube.com/embed/3hdasYVO-zQ" frameborder="0" allowfullscreen></iframe>

                </div>
                <div class="our-team-text">
                    <h5>Faith Community Church</h5>
                    <h6>Easter Children's Song 2014</h6>
                    <p>This is a short video clip of some of our FCC children performing a song they had learned for Easter. We are committed to helping children value worship at an early age.</p>
                </div>
            </div>
        </div>
    
     
        <div class="col-md-6">
            <div class="our-team">
                <div class="our-team-image">

                    <iframe width="560" height="315" src="https://www.youtube.com/embed/6V2q7DAVxrw" frameborder="0" allowfullscreen></iframe>

                </div>
                <div class="our-team-text">
                    <h5>Faith Community Church</h5>
                    <h6>Vacation Bible School Recap 2011</h6>
                    <p> Each summer Faith Community Church holds a Vacation Bible School for both our own children and those in the community. For five evenings the kids get to sing, hear Bible stories, play games, do a craft and have a snack. Some have also committed their lives to Jesus during VBS.</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}