{% extends "base/subpage.html" %}

{% block subheading %}Children{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ root }}index.html">Home</a></li>
    <li><a href="{{ root }}ministries/index.html">Ministries</a></li>
    <li class="active">Children</li>
{% endblock %}

{% block content %}

<p>
Calling all kids!   Whether it's Sunday School, Children's Worship, Kid Klub (Mid-week), nursery, Vacation Bible School or our special field trips and parties, you'll find that the mission of Children's Ministries is not only about making fun memories, but helping kids grow in their walk with Jesus.
</p>
<p>
Say, did you know that God thinks the world of you?  Yep, it's true.   You may not know it, but Jesus has a pretty cool plan for your life.  Come and join the gang as we discover lots of fun ways to grow in our love and knowledge of God.
</p>
<p>
On Sunday morning, parents with children 0-24 months may take advantage of our well-staffed nursery. Kids 24 months through 5th grade participate in the first half of the worship service, then exit for either Sunday School or a Children's Worship Time of their own during the second half.        
</p>
<p>
FCC for Kids is more than just fun and games.  We use a hands-on approach for teaching the truths of God's Word.   Our curriculum include such resources as Faith Weaver Friends and Scripture Press.  Kids who come, experience worship at their level, enjoy snacks and crafts, and learn from Christ-like role models as they discover God's Word and His love.   We appreciate the fact that children of different ages learn at different levels.   We're committed to reaching each child with the message of Christ's love.  For this reason, lessons are presented at a level appropriate for each stage of life.
</p>

{% endblock %}