{% extends "base/subpage.html" %}

{% block subheading %}Ministries{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ root }}index.html">Home</a></li>
    <li class="active">Ministries</li>
{% endblock %}

{% block content %}

 
    <div class="row">
        <div class="col-md-8">
            <p>
                In this section on ministries we will try to give you a flavor for what goes on in terms of the typical activities geared around church life. We have things going on for all ages from new-borns on up to senior citizes. Many ministries take place together, and some that are broken out by life stages. They all are intended to help build a sense of Christian community as we life, work, play, learn, and pray together.
            </p>               
        </div>
        
        <div class="col-md-4 text-center">
            <img src="{{ media }}img/ministriespraying.jpg" alt="">
        </div>
        
    </div>
      


{% endblock %}