{% extends "base/subpage.html" %}

{% block subheading %}Worship{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ root }}index.html">Home</a></li>
    <li><a href="{{ root }}ministries/index.html">Ministries</a></li>
    <li class="active">Worship</li>
{% endblock %}

{% block content %}


    <div class="row">
        <div class="col-md-8">
            <p>
                Worship is an important aspect of church life at Faith Community Church. Our hope and expectation is that a person will encounter God somewhere during our corporate times together. For some this may happen in songs, for others in Bible teaching, prayer, communion, visiting, or something shared by another person as from the Lord at just the right time. The first half of Sunday worship is spent mainly in singing with all ages participating. We begin with a couple of traditional songs, then do a set of contemporary ones accompanied by a band. Then we take a 5 minute break we call <em>Half Time</em> when people can greet one another, send the children off to Sunday School and top off their coffee cups. The second half is spent in the Bible followed by a concluding song. Afterward people are invited forward for individual prayer as desired.

        </div>
        
        <div class="col-md-4 text-center">
            <img src="{{ media }}img/ministriesworship.jpg" alt="">
        </div>
        
    </div>

    <div class="spacer20"></div>

    <div class="row">
        <div class="col-md-12">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/YwklMmZ6py8" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>

{% endblock %}