{% extends "base/subpage.html" %}

{% block subheading %}Youth{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ root }}index.html">Home</a></li>
    <li><a href="{{ root }}ministries/index.html">Ministries</a></li>
    <li class="active">Youth</li>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-8">
            <p>
                It's nice to have a place where you can just be yourself, meet new friends, and have some fun while you grow in your faith - and FCC's youth workers are here to help you on the journey. While friends and activities are an important part of our group, the biggest deal, of course, is learning more about Jesus Christ and how to live lives that matter. Students discover their gifts and can into the life of the overall church. It's not uncommon to find our youth serving as teen greeters, volunteering with children's programs, or playing on our worship team.   
            </p>
            <p>
                Our group consists of junior high and senior high students from many of the surrounding school districts. Every Wednesday night the group gathers for fun, friendship, and learning about Jesus. Depending on the evening, the group may break down into smaller groups by age and/or gender. We also offer an occasional small group Bible or book study in a home. Come be a part.
            </p>
            <p>
                In addition to activities at the church, we also take trips to amusement parks (like Cedar Point), participate in the local Thursday - Sunday outreach in June called SOS (Summer of Service), have youth retreats, movie/pizza nights and more!
            </p>
        </div>
        
        <div class="col-md-4 text-center">
            <img src="{{ media }}img/youth.jpg" alt="">
        </div>
        
    </div>

 
    </div><div class="row">
  
    <div class="col-md-4">
        <div class="our-team">
            <div class="our-team-image">

                <iframe width="560" height="315" src="https://www.youtube.com/embed/EjgbNyRdCXo" frameborder="0" allowfullscreen></iframe>

            </div>
            <div class="our-team-text">
                <h5>Faith Community Church - College</h5>
                <h6>Nicaragua 2012</h6>
                <p>In 2012 Pastor Randy led a small team of Faith Community Church college students on a short term mission to Isla de Ometape, Nicaragua. Working with local missionaries, the team distributed clothes, prayed for people, and helped repair a roof. The students were also required to do some reading in missions and share at FCC upon their return.</p>
            </div>
        </div>
    </div>
    
     
    <div class="col-md-4">
        <div class="our-team">
            <div class="our-team-image">

                <iframe width="560" height="315" src="https://www.youtube.com/embed/Ws0-0zahVoc" frameborder="0" allowfullscreen></iframe>

            </div>
            <div class="our-team-text">
                <h5>Faith Community Church</h5>
                <h6>Costa Rica 2011</h6>
                <p>Faith Community Church's 3rd mission trip to Costa Rica led by Pastor Randy. The team partnered with a mission team from Iglesia Comunidad el Faro and did a combined mission outreach to the Cabecar Indians.</p>
            </div>
        </div>
    </div>
    
    
    <div class="col-md-4">
        <div class="our-team">
            <div class="our-team-image">

                <iframe width="560" height="315" src="https://www.youtube.com/embed/ukEJc2GFQSw" frameborder="0" allowfullscreen></iframe>

            </div>
            <div class="our-team-text">
                <h5>Faith Community Church</h5>
                <h6>Costa Rica 2008</h6>
                <p>Faith Community Church's 2nd mission trip to Costa Rica led by Dr. Randy Smith. This time the team not only helped at the Abraham Project, but also went with the local church, Iglesia Comunidad el Faro, and another team from the USA, to the Costa Rican church's youth campout at Isla Damas.</p>
            </div>
        </div>
    </div>




<ul class="list-3">
    <li><a href="{{ media }}pdfs/Youth_Medical_Release_Form.pdf" target="_blank"><span class="box-small-2"><i class="icon-file"></i></span>&nbsp;Medical Release Form</a></li>
    <li><a href="{{ media }}pdfs/FCC_Youth_Generic_Permission_Slip.pdf" target="_blank"><span class="box-small-2"><i class="icon-file"></i></span>&nbsp;Generic Permission Slip</a></li>
</ul>

{% endblock %}