.theme-color-background, .btn, .btn-invert:hover, .btn-invert:focus, .btn-invert:active, .btn-invert.active, .btn-invert.disabled, .btn-invert[disabled], .center-nav-content-slider .flex-direction-nav a, .services-shortcode:hover .services-icon-1, .services-shortcode:hover .services-icon-2, .social i, .table-2 th, .paging .btn:hover, .social-3 i:hover, .services-box:hover i, .pricing-table:hover .pricing-table-header, .pricing-table:hover .pricing-table-footer, .tp-leftarrow.default, .tp-rightarrow.default {
  background: #15CCC8;
  background-color: #15CCC8;
}

.theme-color-text, a:hover, a:focus, a:active, a.social-icon-main i:hover, a.social-icon-main i:focus, .error, .box-1:hover i, .media-box  a:hover, .media-box  a:focus, .project-image  a:hover, .project-image  a:focus, .accordion-heading a:hover, .accordion-heading .ac-active, .nav-tabs li a:hover, .nav-tabs > .active > a, .nav-tabs > .active > a:hover, .shop-item-price .shop-item-price-old, .navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus, .navbar .nav > li:hover > a, .navbar .nav li ul li:hover a, .navbar .nav li.active ul li:hover a {
  color: #15CCC8;
}

.table-2 th {
  border-left:1px solid #15CCC8 !important;
  border-top:1px solid #15CCC8 !important;
  border-bottom:1px solid #15CCC8 !important; 
}

.table-2 thead:first-child tr:first-child>th:last-child, .table-2 tbody:first-child tr:first-child>td:last-child, .table-2 tbody:first-child tr:first-child>th:last-child {
  border-right:1px solid #15CCC8 !important;
}

.paging .btn:hover, .pricing-table:hover .pricing-table-header, .pricing-table:hover .pricing-table-footer {
  border:1px solid #15CCC8 !important;  
}