<footer>
    <div class="container">
        <div class="row footer">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4">
                        <a href="index.html"><h4 class="logo-footer"><img style="width: 100px;" src="{{media}}img/logo.png"></h4></a>
                        <p>
                            We seek to carry out Jesus' great commission by: <strong>Finding</strong> those who have yet to experience His love and freedom both locally and globally, <strong>Cultivating</strong> growing relationships with Christ individually and corporately, and <strong>Caring</strong> for our local church body and the surrounding community.
                        </p>
                    </div>

                    <div class="col-md-4">
                        <h4>Activities</h4>
                        <ul class="list-footer">
                            <li><span class="box-small"><i class="icon-group"></i></span>Sundays
                                <ul class="list-unstyled">
                                    <li>Small Groups 9:30 AM</li>
                                    <li>Coffee Break 10:15 AM</li>
                                    <li>Worship 10:30 AM</li>
                                    <li><i>(Children's Sunday School after singing)<i/></li>
                                </ul>
                            </li>

                            <li><span class="box-small"><i class="icon-group"></i></span>Wednesdays
                                <ul class="list-unstyled">
                                    <li>Clothes Pantry 5:30 PM</li>
                                    <li>Kids Klub 6:30 PM</li>
                                    <li>Youth Group 6:30 PM</li>
                                    <li>Women's Group 6:30 PM</li>
                                    <li>Adult Study 6:30 PM</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h4>Address</h4>
                        <ul class="list-footer">
                            <li><span class="box-small"><i class="icon-building"></i></span> Faith Community Church</li>
                            <li>30046 County Road 16 W</li>
                            <li>Elkhart, IN 46516</li>
                            <li><i>(former Jimtown North Elementary School<i/></li>
                        </ul>
                        
                        <div class="spacer20"></div>
                        <h4>Contact</h4>
                        <ul class="list-footer">
                            <li><span class="box-small"><i class="icon-book"></i></span> 574.674.8494</li>
                        </ul>
                        <ul class="list-footer">
                            <li><span class="box-small"><i class="icon-desktop"></i></span> 
                                <a href="http://faithcommunitychurchonline.org/">faithcommunitychurchonline.org</a>
                            </li>
                            <li><a href="mailto:faithcommunitychurchonline@gmail.com">faithcommunitychurchonline@gmail.com</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row after-footer">
            <div class="col-md-8">
                <p><strong>&copy;2014 Faith Community Church - ALL RIGHTS RESERVED.</strong>
                </p>
            </div>
            <div class="col-md-4">
                <p>
                    <a href="https://www.facebook.com/FaithCommunityChurch" class="social-icon-main"><i class="icon-facebook" title="facebook"></i></a>
                    <span class="divider-social"></span>
                    <a href="https://www.youtube.com/user/Vinecast" class="social-icon-main"><i class="icon-youtube" title="youtube"></i></a>
                    <span class="divider-social"></span>
                    <a href="http://faithcommunitychurch.podbean.com/" class="social-icon-main"><i class="icon-rss" title="podbean"></i></a>
                    <span class="divider-social"></span>
                    <a href="http://faithcommunitychurchonline.blogspot.com/" class="social-icon-main social-text">Blog</a>
                </p>
            </div>
        </div>
    </div>
</footer>