<footer>
    <div class="container">
        <div class="row footer">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4">
                        <a href="index.html"><h4 class="logo-footer">Reno<span class="logo-dash">/</span></h4></a>
                        <p>
                            Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc.Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum.
                        </p>
                    </div>

                    <div class="col-md-4">
                        <h4>Address</h4>
                        <ul class="list-footer">
                            <li><span class="box-small"><i class="icon-building"></i></span> Juana St. Angers</li>
                            <li>Piedras No 623</li>
                            <li>Piso2 Dto.4</li>
                            <li>C1070AAM Capital Federal</li>
                            <li>ARGENTINA</li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h4>Contact</h4>
                        <ul class="list-footer">
                            <li><span class="box-small"><i class="icon-book"></i></span> (613) 885 959</li>
                            <li>(613) 885 960</li>
                        </ul>
                        <ul class="list-footer">
                            <li><span class="box-small"><i class="icon-desktop"></i></span> 
                                <a href="#">www.example.com</a>
                            </li>
                            <li><a href="mailto:example@example.com">example@example.com</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row after-footer">
            <div class="col-md-8">
                <p><strong>&copy;2014 Faith Community Church - ALL RIGHTS RESERVED.</strong>
                </p>
            </div>
            <div class="col-md-4">
                <p>
                    <a href="#" class="social-icon-main"><i class="icon-facebook" title="facebook"></i></a>
                    <span class="divider-social"></span>
                    <a href="#" class="social-icon-main"><i class="icon-twitter" title="twitter"></i></a>
                    <span class="divider-social"></span>
                    <a href="#" class="social-icon-main"><i class="icon-google-plus" title="google plus"></i></a>
                    <span class="divider-social"></span>
                    <a href="#" class="social-icon-main"><i class="icon-youtube" title="youtube"></i></a> 
                </p>
            </div>
        </div>
    </div>
</footer>