<header id="home">
    <nav class="navbar navbar-fixed-top" role="navigation">
        <div class="navbar-inner">
            <div class="container">
                <!-- logo with back to top -->
                <a href="{{ root }}index.html" title="Home" class="back-to-top">
                    <img src="{{ media }}img/logo-small-header2.png " alt="logo" class="logo">
                </a>
                <!-- Menu -->
                <ul class="nav navbar-nav">

                    <li><a href="{{ root }}index.html">Home</a></li>
                    <li>
                        <a href="{{ root }}about/index.html">About Us</a>
                        <ul>
                            <li><a href="{{ root }}about/welcome.html">Welcome</a></li>
                            <li><a href="{{ root }}about/history.html">History</a></li>
                            <li><a href="{{ root }}about/beliefs.html">Beliefs</a></li>
                            <li><a href="{{ root }}about/staff.html">Staff</a></li>
                            <li><a href="{{ root }}about/calendar.html">Calendar</a></li>
                            <li><a href="{{ root }}about/contact.html">Contact Us</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="{{ root }}ministries/index.html">Ministries</a>
                        <ul>
                            <li><a href="{{ root }}ministries/worship.html">Worship</a></li>
                            <li><a href="{{ root }}ministries/adults.html">Adults</a></li>
                            <li><a href="{{ root }}ministries/youth.html">Youth</a></li>
                            <li><a href="{{ root }}ministries/children.html">Children</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="{{ root }}service/index.html">Community Service</a>
                        <ul>
                            <li><a href="{{ root }}service/sos.html">Summer of Service</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="{{ root }}global/index.html">Global Focus</a>
                        <ul>
                            <li><a href="{{ root }}global/career.html">Career Partners</a></li>
                            <li><a href="{{ root }}global/trips.html">Volunteer Trips</a></li>
                        </ul>
                    </li>
                    <li><a href="{{ root }}teaching.html">Teaching</a></li>

                </ul>
                <!-- Menu End -->
            </div>
        </div>
    </nav>
</header>
