<header id="home">
    <nav class="navbar navbar-fixed-top" role="navigation">
        <div class="navbar-inner">
            <div class="container">
                <!-- logo with back to top -->
                <a href="{{ root }}index.html" title="Home" class="back-to-top">
                    <img src="{{ media }}img/logo.png " alt="logo" class="logo">
                </a>
                <!-- Menu -->
                <ul class="nav navbar-nav">
                    
                    {# TODO: Add title attributes #}
                    
                    <li class="active"><a href="{{ root }}index.html">Home</a></li>
                    <li><a href="{{ root }}welcome.html">Welcome</a></li>
                    <li>
                        <a href="{{ root }}whoweare.html">Who We Are</a>
                        <ul>
                            <li><a href="{{ root }}history.html">History</a></li>
                            <li><a href="{{ root }}current.html">Current</a></li>
                            <li><a href="{{ root }}staff.html">Staff</a></li>
                            <li><a href="{{ root }}beliefs.html">Beliefs</a></li>
                        </ul>
                    </li>
                    <li><a href="{{ root }}whatwedo.html">What We Do</a>
                        <ul>
                            <li><a href="{{ root }}youth.html">Youth</a></li>
                            <li><a href="{{ root }}children.html">Children</a></li>
                            <li><a href="{{ root }}adults.html">Adults</a></li>
                            <li><a href="{{ root }}teams.html">Ministry Teams</a></li>
                        </ul>
                    </li>
                    <li><a href="{{ root }}youth.html">Youth</a></li>
                    <li><a href="{{ root }}calendar.html">Calendar</a></li>
                    <li><a href="{{ root }}global.html">Global Focus</a>
                        <ul>
                            <li><a href="{{ root }}global/shorttermteams.html">Short Term Teams</a></li>
                            <li><a href="{{ root }}global/abraham.html">Abraham Project</a></li>
                            <li><a href="{{ root }}global/kennedy.html">Cabecar</a></li>
                        </ul>
                    </li>
                    <li><a href="{{ root }}contact.html">Contact Us</a></li>
                    
                    
                </ul>
                <!-- Menu End -->
            </div>
        </div>
    </nav>
</header>