<header id="home">
    <nav class="navbar navbar-fixed-top" role="navigation">
        <div class="navbar-inner">
            <div class="container">
                <!-- logo with back to top -->
                <a href="{{ root }}index.html" title="Home" class="back-to-top">
                    <img src="{{ media }}img/logo.png " alt="logo" class="logo">
                </a>
                <!-- Menu -->
                <ul class="nav navbar-nav">
                    
                    {# TODO: Add title attributes #}
                    
                    <li><a href="{{ root }}index.html">Home</a></li>
                    <li>
                        <a href="{{ root }}about/index.html">About Us</a>
                        <ul>
                            <li><a href="{{ root }}about/welcome.html">Welcome</a></li>
                            <li><a href="{{ root }}about/history.html">History</a></li>
                            <li><a href="{{ root }}about/beliefs.html">Beliefs</a></li>
                            <li><a href="{{ root }}about/staff.html">Staff</a></li>
                            <li><a href="{{ root }}about/calendar.html">Calendar</a></li>
                            <li><a href="{{ root }}about/contact.html">Contact Us</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="{{ root }}ministries.html">Ministries</a>
                        <ul>
                            <li><a href="{{ root }}worship.html">Worship</a></li>
                            <li><a href="{{ root }}adults.html">Adults</a></li>
                            <li><a href="{{ root }}youth.html">Youth</a></li>
                            <li><a href="{{ root }}children.html">Children</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="{{ root }}community-service.html">Community Service</a>
                        <ul>
                            <li><a href="{{ root }}sos.html">SOS/Summer of Service</a></li>
                            <li><a href="{{ root }}clothes-pantry.html">Clothes Pantry</a></li>
                            <li><a href="{{ root }}pay-it-forward.html">Pay It Forward</a></li>
                            <li><a href="{{ root }}community-meal.html">Community Meal</a></li>
                        </ul>
                    </li>
                    <li><a href="{{ root }}global.html">Global Focus</a></li>
                    <li><a href="{{ root }}teaching.html">Teaching</a></li>
                    
                    
                    
                    
                    {# <li><a href="{{ root }}welcome.html">Welcome</a></li> #}
                    {# <li> #}
                    {#     <a href="{{ root }}whoweare.html">Who We Are</a> #}
                    {#     <ul> #}
                    {#         <li><a href="{{ root }}history.html">History</a></li> #}
                    {#         <li><a href="{{ root }}current.html">Current</a></li> #}
                    {#         <li><a href="{{ root }}staff.html">Staff</a></li> #}
                    {#         <li><a href="{{ root }}beliefs.html">Beliefs</a></li> #}
                    {#     </ul> #}
                    {# </li> #}
                    {# <li><a href="{{ root }}whatwedo.html">What We Do</a> #}
                    {#     <ul> #}
                    {#         <li><a href="{{ root }}youth.html">Youth</a></li> #}
                    {#         <li><a href="{{ root }}children.html">Children</a></li> #}
                    {#         <li><a href="{{ root }}adults.html">Adults</a></li> #}
                    {#         <li><a href="{{ root }}teams.html">Ministry Teams</a></li> #}
                    {#     </ul> #}
                    {# </li> #}
                    {# <li><a href="{{ root }}calendar.html">Calendar</a></li> #}
                    {# <li><a href="{{ root }}global.html">Global Focus</a></li> #}
                    {# <li><a href="{{ root }}contact.html">Contact Us</a></li> #}
                    
                    
                </ul>
                <!-- Menu End -->
            </div>
        </div>
    </nav>
</header>