<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie" lang="en">
<!--<![endif]-->

<head>
    <!-- Basic Meta Tags -->
    <meta charset="utf-8">
    <title>{% block title %}Faith Community Church{% endblock %}</title>

    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="{{ media }}img/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ media }}img/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ media }}img/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ media }}img/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ media }}img/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ media }}img/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ media }}img/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ media }}img/favicons/apple-touch-icon-152x152.png">
    <link rel="icon" type="image/png" href="{{ media }}img/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="{{ media }}img/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ media }}img/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="{{ media }}img/favicons/favicon-160x160.png" sizes="160x160">
    <link rel="icon" type="image/png" href="{{ media }}img/favicons/favicon-196x196.png" sizes="196x196">
    <meta name="msapplication-TileColor" content="#ffc40d">
    <meta name="msapplication-TileImage" content="{{ media }}img/favicons/mstile-144x144.png">
	
    <!-- Bootstrap style -->
    <link href="{{ static }}css/bootstrap.min.css" rel="stylesheet">
    <!-- Flexslider Style -->
    <link href="{{ static }}css/flexslider.css" rel="stylesheet">
    <!-- Flexi slider Style -->
    <link href="{{ static }}css/owl.carousel.css" rel="stylesheet">
    <!-- Font Awesome Style -->
    <link href="{{ static }}css/font-awesome.min.css" rel="stylesheet">
    <!-- Animate -->
    <link href="{{ static }}css/animate.css" rel="stylesheet">
    <!-- Lightbox -->
    <link href="{{ static }}css/magnific-popup.css" rel="stylesheet">
    <!-- REVOLUTION BANNER CSS SETTINGS -->
    <link href="{{ static }}rs-plugin/css/settings.css" rel="stylesheet" />
    <!-- Theme style -->
    <link href="{{ static }}css/style.css" rel="stylesheet">
    <!-- Components style -->
    <link href="{{ static }}css/components.css" rel="stylesheet">
    <!-- Main color scheme -->
    <link href="{{ static }}css/color/color-4.css" rel="stylesheet" id="color">
    <!-- Bootstrap override style -->
    <link href="{{ static }}css/bootstrap-override.css" rel="stylesheet">
    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Fauna+One&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,600,700,800,300&amp;subset=latin,cyrillic-ext,cyrillic,greek-ext,greek,vietnamese' rel='stylesheet' type='text/css'>
    <!-- Site style -->
    <link href="{{ static }}css/site-style.css" rel="stylesheet">
    <script src="{{ static }}js/modernizr.js"></script>
    <!-- Internet Explorer condition - HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
    {% block extra_styles %}{% endblock %}
</head>

<body>

    <!-- Header -->
    {% include "base/header.html" %}
    
    <!-- Body -->
    {% block body %}{% block content %}{% endblock %}{% endblock %}

    <!-- Footer -->
    {% include "base/footer.html" %}

    <!-- Javascript -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ static }}js/jquery.js"></script>
    <script src="{{ static }}js/bootstrap.min.js"></script>
    <script src="{{ static }}js/jquery.easing.js"></script>
    <script src="{{ static }}js/jquery.flexslider-min.js"></script>
    <script src="{{ static }}js/jquery.isotope.min.js"></script>
    <script src="{{ static }}js/jquery.fitvids.js"></script>
    <script src="{{ static }}js/jquery.appear.js"></script>
    <script src="{{ static }}js/retina.js"></script>
    <script src="{{ static }}js/respond.min.js"></script>
    <script src="{{ static }}js/jquery.parallax-1.1.3.js"></script>
    <script src="{{ static }}js/owl.carousel.min.js"></script>
    <script src="{{ static }}js/jquery.meanmenu.2.0.min.js"></script>
    <script src="{{ static }}js/jquery.nicescroll.min.js"></script>
    <script src="{{ static }}js/jquery.refineslide.js"></script>
    <script src="{{ static }}js/sly.js"></script>
    <script src="{{ static }}js/jquery.magnific-popup.min.js"></script>
    <script src="{{ static }}js/jquery.zoom.js"></script>
    <script src="{{ static }}js/functions.js"></script>
    <!-- jQuery REVOLUTION Slider  -->
    <script src="{{ static }}rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
    <script src="{{ static }}rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
    
    {% block extra_scripts %}{% endblock %}
    
</body>
</html>