{% extends "base/base.html" %}

{% block subheading %}<h2>Beliefs</h2>{% endblock %}

{% block body %}

<ol>
    <li>God the King and the Holy Trinity</li>
    <li>God the King: The Creator and Ruler of All Things</li>
    <li>Counterfeit Kingdom: Satan and Demonic Hosts</li>
    <li>The Kingdom in the Creation of Man, the Fall and The Doctrine of Original Sin</li>
    <li>God's Providence, Kingdom Law and Covenants</li>
    <li>Christ the Mediator and Eternal King</li>
    <li>The Ministry of the Holy Spirit</li>
    <li>The Sufficiency of Scripture</li>
    <li>The Power of the Gospel Over the Kingdom of Darkness</li>
    <li>The Church: Instrument of the Kingdom</li>
    <li>Baptism and the Lord's Supper</li>
    <li>The Kingdom of God and the Final Judgment</li>
</ol>

<p>
For a more detailed explanation just click on the belief.
</p><p>
These explanations are borrowed from the Association of Vineyard Churches.
</p>
{% endblock %}