{% extends "base/subpage.html" %}

{% block subheading %}Contact Us{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ root }}index.html">Home</a></li>
    <li class="active">Contact Us</li>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <iframe id="google-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2979.938250709298!2d-86.04297899999999!3d41.67867699999994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8816c4db4c6e6343%3A0xa57fdf565569f01e!2sFaith+Community+Church!5e0!3m2!1sen!2sus!4v1396406175918"></iframe>
    </div>
</div>

{% endblock %}