{% extends "base/base.html" %}

{% block subheading %}<h2>Current</h2>{% endblock %}

{% block body %}
<p>
It's hard to get a feel for a church just from words and pictures, but we hope you'll catch a bit of our heart. I think we have a great church, but we are still in process. We are blessed to have many good churches in Michiana and we hope the Lord will clearly direct you to the one He has in mind for you.
</p>
<p>
Just to give you a snapshot of us, ours is a family-friendly church meeting in a former elementary school. (Yes, we actually have the entire facility at our disposal: classrooms, auditorium, gym, cafeteria ...)
</p>
<p>
I invite you to give us a prayerful try and see if we "fit." We know we aren't the only thing in town, but we'd love to help you find a church that you can call home.
</p>
<p>
I'll leave you with my life verse: NIV Matthew 10:7-8 "As you go, preach this message: 'The kingdom of heaven is near.' Heal the sick, raise the dead, cleanse those who have leprosy, drive out demons. Freely you have received, freely give."
</p>
<p>
Blessings,    
Pastor Randy    
</p>
{% endblock %}