{% extends "base/subpage.html" %}

{% block subheading %}Global Missions{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ root }}index.html">Home</a></li>
    <li class="active">Global Missions</li>
{% endblock %}

{% block content %}
<p>
FCC participates relationally and financially with several different missionaries and ministries in a variety of countries around the world. Giving for some is accomplished as a line item in our annual church budget, others as special offerings, and still others as individual families in the church decide to partner with a given missionary.
</p><p>
Here are some of the organizations and individuals with whom we participate (not all are listed for security reasons):
</p>

<ul>
    <li>
        Andrew &amp; Anna Conrad in Mexico serving with <a href="http://www.back2back.org/" target="_blank">Back 2 Back Ministries</a> in Mexico working with at-risk children and women.
    </li>
    
    <li>
        Aaron &amp; Candace (Brown) Espinoza in Costa Rica serving with <a href="http://worldmissionsevangelism.com/" target="_blank">World Missions &amp; Evangelism</a> at the <a href="http://www.abrahamproject.org/" target="_blank">Abraham Project</a> in ministries to at-risk children.
    </li>
    
    <li>
        Gabo &amp; Emily (Bastine) Hernandez serving with <a href="http://www.cten.org/" target="_blank">Commission to Every Nation</a> in Mexico in ministries to university students. 
    </li>
    
    <li>
        Paul &amp; Carlene Eager serving with <a href="http://www.send.org/" target="_blank">SEND International</a> in Poland working in church planting.
    </li>
    
    <li>
        Personnel with <a href="http://www.studiotenministries.org/" target="_blank">Studio Ten Ministries</a> in Nepal working church planting, education, and ministries to at-risk children and women. 
    </li>
    
    <li>
        Personnel with <a href="http://www.global-teams.net/" target="_blank">Global Teams</a> in Costa Rica raising up Latinos to serve in the Middle East.
    </li>
    
    <li>
        <a href="http://www.cornerstoneinternational.org/" target="_blank">Cornerstone International</a> child sponsorship in Costa Rica.
    </li>
    
    <li>
        <a href="http://www.compassion.com/" target="_blank">Compassion International</a> child sponsorship in Indonesia.
    </li>
    
    <li>
        Dr. Randy Smith <a href="http://globalmissionsonline.org/" target="_blank">(www.globalmissionsonline.org)</a>, Lead Pastor at <a href="http://faithcommunitychurchonline.org/" target="_blank">Faith Community Church</a>, ministering in a very part-time capacity as a pastoral friend to several cross-cultural missionaries. Faith Community Church also sends out occasional short-term mission teams.
    </li>
</ul>
{% endblock %}