{% extends "base/base.html" %}

{% block subheading %}<h2>Global Missions</h2>{% endblock %}

{% block body %}
<p>
FCC participates relationally and financially with several different missionaries and ministries in a variety of countries around the world. Giving for some is accomplished as a line item in our annual church budget, others as special offerings, and still others as individual families in the church decide to partner with a given missionary.
</p><p>
Here are some of the organizations and individuals with whom we participate (not all are listed for security reasons):
</p>

<ul>
    <li>
        Candace &amp; Aaron (Brown) Espinoza in Costa Rica serving with <a href="http://www.christianfellowship.org/" target="_blank">World Missions &amp; Evangelism</a> at the <a href="http://www.abrahamproject.org/" target="_blank">Abraham Project</a> in ministries to at-risk children.
    </li>
    
    <li>
        Emily &amp; Gabo (Bastine) Hernandez <a href="http://emilybastine.blogspot.com/" target="_blank">(emilybastine.blogspot.com)</a> in Mexico serving with <a href="http://campuscrusadeforchrist.com/" target="_blank">Campus Crusade</a> in ministries to university students. 
    </li>
    
    <li>
        Jared &amp; Jalayne Coblentz <a href="http://www.jjcoblentz.blogspot.com/" target="_blank">(jjcoblentz.blogspot.com)</a> in Haiti serving with <a href="http://www.christianfellowshipmission.org/" target="_blank">Christian Fellowship Mission</a> in ministries orphans and unwed mothers.
    </li>
    
    <li>
        Tom &amp; Lori Kennedy in Costa Rica serving with <a href="http://www.gotonations.org/" target="_blank">Go to Nations</a> in ministries to the Cabecar Indians and Costa Rican campers.
    </li>
    
    <li>
        Paul &amp; Carlene Eager <a href="http://www.eagerlyblogging.blogspot.com/" target="_blank">(eagerlyblogging.blogspot.com)</a> in Poland serving with <a href="http://www.send.org/index.cfm" target="_blank">SEND International</a> in church planting.
    </li>
    
    <li>
        Personnel with <a href="http://www.studiotenministries.org/" target="_blank">Studio Ten Ministries</a> in Nepal working in ministries to at-risk children and women through local churches. 
    </li>
    
    <li>
        Personnel with <a href="http://www.global-teams.net/" target="_blank">Global Teams</a> in Pakistan working in medical ministries through the national church.
    </li>
    
    <li>
        <a href="http://www.cornerstoneinternational.org/" target="_blank">Cornerstone International</a> child sponsorship in Costa Rica.
    </li>
    
    <li>
        <a href="http://www.compassion.com/" target="_blank">Compassion International</a> child sponsorship in Indonesia.
    </li>
    
    <li>
        Dr. Randy Smith <a href="http://globalmissionsonline.org/Global_Missions/Home.html" target="_blank">(www.globalmissionsonline.org)</a>, Lead Pastor at <a href="http://faithcommunitychurchonline.org/" target="_blank">Faith Community Church</a>, ministering in a very part-time capacity as a pastoral friend to several cross-cultural missionaries.  <a href="http://faithcommunitychurchonline.org/globalshorttermteams.html">Faith Community Church</a> also sends out occasional short-term mission teams.
    </li>
</ul>
{% endblock %}