{% extends "base/base.html" %}

{% block subheading %}<h2>History</h2>{% endblock %}

{% block body %}
<dl>
    <dt>1. Beginnings</dt>
    <dd>
        FCC began in 1988 under the direction of Pastor Cliff and Eleanor Quantz, who formerly pastored in the Missionary Church denomination. Known for his ministry in spiritual warfare, Dr. Quantz helped many people who were oppressed by the enemy. At first FCC met in one of the member's homes, but over time it built its own facility, which also looked like a house, and carried on all of the activities of a typical Evangelical church.
    </dd>
    
    <dt>2. Interim</dt>
    <dd>
        Upon Pastor Cliff's retirement from active pastoring, FCC brought in another veteran pastor by the name of John Seiter as an Interim Pastor in January, 2001. During John's tenure Cliff unexpectedly passed away leaving many to face an even more uncertain future without their founding pastor. Pastor John ministered effectively helping the church to transition through those months.
    </dd>
    
    <dt>3. Continuing</dt>
    <dd>
        After Pastor John's 18 month interim pastorate was completed, Pastor Peter Damaska arrived at FCC for 22 months. He brought an air of youthful enthusiasm, transitioning from a traditional worship style to a blended contemporary format. Sensing the Lord's direction to return to his denominational roots, his family was sent off in June of 2004.
    </dd>
    
    <dt>4. Today</dt>
    <dd>
        Dr. Randy and Tammy Smith, Ph.D., began at FCC in July of 2004. The Smith family came to FCC straight from serving for years as cross-cultural missionaries in Costa Rica. Pastor Randy had also been a pastor, church planter, professor, and worship leader. Having grown up in the area, the Smiths know how to relate to our community and understand both FCC's needs and its potential. Randy has also been an Adjunct Professor at Bethel College.
    </dd>
</dl>
{% endblock %}