{% extends "base/subpage.html" %}

{% block subheading %}History{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ root }}index.html">Home</a></li>
    <li><a href="{{ root }}whoweare.html">Who We Are</a></li>
    <li class="active">History</li>
{% endblock %}

{% block content %}
     
<div class="row">
    <div class="col-md-12">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/tSxfgeVtVzM" frameborder="0" allowfullscreen></iframe>
    </div>
</div>
    
<div class="row">
    <div class="col-md-8">
        <h4>1. Beginnings</h4>
        <p>
            Faith Community Church, aka FCC, began in 1988 under the direction of Pastor Cliff and Eleanor Quantz, who formerly pastored in the Missionary Church denomination. Known for his ministry in spiritual warfare, Dr. Quantz helped many people who were oppressed by the enemy. At first FCC met in one of the member's homes, but over time it built its own facility, which also looked like a house, and carried on all of the activities of a typical evangelical church.
        </p>
    </div>
    
    <div class="col-md-4 text-center">
        <img src="{{ media }}img/cliffeleanor.jpg" alt="">
    </div>
    
    <div class="col-md-8">
        <h4>2. Interim</h4>
        <p>
            Upon Pastor Cliff's retirement from active pastoring, FCC brought in another veteran pastor by the name of John Seiter as an Interim Pastor in January, 2001. During John's tenure Cliff unexpectedly passed away leaving many to face an even more uncertain future without their founding pastor. Pastor John ministered effectively helping the church to transition through those tough months.
        </p>        
    </div>
    
    <div class="col-md-4 text-center">
        <img src="{{ media }}img/johnpaulette.jpg" alt="">
    </div>
    

    <div class="col-md-8">
        <h4>3. Continuing</h4>
        <p>
            After Pastor John's 18 month interim pastorate was completed, Pastor Peter Damaska arrived at FCC for about 2 years. He brought an air of youthful enthusiasm, transitioning the congregation from a traditional worship style to a blended contemporary format. Sensing the Lord's direction to return to his denominational roots, his family was sent off in June of 2004.
        </p>
    </div>
    
    <div class="col-md-4 text-center">
        <img src="{{ media }}img/petersarah.jpg" alt="">
    </div>
    
    <div class="col-md-8">    
        <h4>4. Today</h4>
        <p>
            Dr. Randy and Tammy Smith began at FCC in July of 2004. The Smith family came to FCC straight from serving for years as cross-cultural missionaries in Costa Rica. Pastor Randy had also been a pastor, church planter, professor, and worship leader. Having grown up in the area, the Smiths know how to relate to our both our church people and our neighboring communities. Randy has also been an adjunct professor at Bethel College.
        </p>
    </div>
    
    <div class="col-md-4 text-center">
        <img src="{{ media }}img/randytammyhistory.jpg" alt="">
    </div>

    <div class="col-md-8">     
        <p> In August 2010 the church relocated from the smaller house-looking facility on Ash Rd to the former Jimtown North Elementary School on CR 16, Elkhart. This spacious school has allowed us to expand not only our worship capacity, but just as importantly our outreach to the community. As a result of the increased space we are now able to operate a large free clothing ministry; serve occasional free community meals; give away a gym full of donations at our annual Pay-It-Forward event; and partner with other area ministries. </p>
    </div>
</div>

{% endblock %}