{% extends "base/subpage.html" %}

{% block subheading %}Teaching{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ root }}index.html">Home</a></li>
    <li class="active">Teaching</li>
{% endblock %}

{% block content %}

<div class="container">
    <p>   
        Every week we spend time studying God's Word in the Bible. Using this embedded player you can listen to the most current Sunday morning teaching.
    </p>
</div>


<div class="text-center">
    <iframe src='http://www.podbean.com/media/player/multi?playlist=http%3A%2F%2Fplaylist.podbean.com%2F70998%2Fplaylist_multi.xml&fonts=Helvetica&share=1&download=1&auto=0&width=420&height=315' width=420 height=315 frameborder='0' scrolling='no' allowfullscreen ></iframe>
</div>

<div class="container">
    <p> 
        You can listen to archived sermons by clicking: <a href="http://faithcommunitychurch.podbean.com" target="_blank"><em>FCC PodBean Sermon Archive</em></a>. These are also searchable by topic.
    </p>
</div>

{% endblock %}