{% extends "base/subpage.html" %}

{% block subheading %}Teaching{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ root }}index.html">Home</a></li>
    <li class="active">Teaching</li>
{% endblock %}

{% block content %}

<div class="container">
    <p>   
        Every week we spend time studying God's Word in the Bible. Using this embedded player you can listen to the most current Sunday morning teaching.
    </p>
</div>

<!--
<div class="text-center">
    <iframe src='http://www.podbean.com/media/player/multi?playlist=http%3A%2F%2Fplaylist.podbean.com%2F70998%2Fplaylist_multi.xml&fonts=Helvetica&share=1&download=1&auto=0&width=420&height=315' width=420 height=315 frameborder='0' scrolling='no' allowfullscreen ></iframe>
</div>

<div class="container">
    <p> 
        You can listen to archived sermons by clicking: <a href="http://faithcommunitychurch.podbean.com" target="_blank"><em>FCC PodBean Sermon Archive</em></a>. These are also searchable by topic.
    </p>
</div>
-->




<div class="row">
    <div class="col-md-6">
        <div class="our-team">
            <div class="our-team-image">
                <iframe width="420" height="315" src="http://www.podbean.com/media/player/multi?playlist=http%3A%2F%2Fplaylist.podbean.com%2F70998%2Fplaylist_multi.xml&fonts=Helvetica&share=1&download=1&auto=0&width=420&height=315" frameborder="0" allowfullscreen></iframe>

            </div>
            <div class="our-team-text">
                <h5>Faith Community Church</h5>
                <h6>Costa Rica 2014</h6>
                <p>Faith Community Church's 4th mission to assist Iglesia Comunidad el Faro's Abraham Project. In addition to construction work, some conducted English as a Second Language (ESL) classes for students in the Day Care.</p>
            </div>
        </div>
    </div>
  
  
    <div class="col-md-6">
        <div class="our-team">
            <div class="our-team-image">

                <iframe width="560" height="315" src="https://www.youtube.com/embed/EjgbNyRdCXo" frameborder="0" allowfullscreen></iframe>

            </div>
            <div class="our-team-text">
                <h5>Faith Community Church - College</h5>
                <h6>Nicaragua 2012</h6>
                <p>In 2012 Pastor Randy led a small team of Faith Community Church college students on a short term mission to Isla de Ometape, Nicaragua. Working with local missionaries, the team distributed clothes, prayed for people, and helped repair a roof. The students were also required to do some reading in missions and share at FCC upon their return.</p>
            </div>
        </div>
    </div>
    
</div>







{% endblock %}