{% extends "base/subpage.html" %}

{% block subheading %}Teaching{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ root }}index.html">Home</a></li>
    <li class="active">Teaching</li>
{% endblock %}

{% block content %}

<div class="container">
    <p>   
        Every week we spend time studying God's Word in the Bible. Using this embedded player you can listen to the most current Sunday morning teaching.
    </p>
</div>

<!--
<div class="text-center">
    <iframe src='http://www.podbean.com/media/player/multi?playlist=http%3A%2F%2Fplaylist.podbean.com%2F70998%2Fplaylist_multi.xml&fonts=Helvetica&share=1&download=1&auto=0&width=420&height=315' width=420 height=315 frameborder='0' scrolling='no' allowfullscreen ></iframe>
</div>

<div class="container">
    <p> 
        You can listen to archived sermons by clicking: <a href="http://faithcommunitychurch.podbean.com" target="_blank"><em>FCC PodBean Sermon Archive</em></a>. These are also searchable by topic.
    </p>
</div>
-->




<div class="row">
    <div class="col-md-6">
        <div class="our-team">
            <div class="our-team-image">
                <iframe width="420" height="315" src="http://www.podbean.com/media/player/multi?playlist=http%3A%2F%2Fplaylist.podbean.com%2F70998%2Fplaylist_multi.xml&fonts=Helvetica&share=1&download=1&auto=0&width=420&height=315" frameborder="0" allowfullscreen></iframe>

            </div>
            <div class="our-team-text">
                <h5>This Week's Teaching</h5>
                <h6>Podcast</h6>
                <p>Using this embedded player you can listen to the most current Sunday morning teaching. You can listen to archived sermons by clicking: <a href="http://faithcommunitychurch.podbean.com" target="_blank"><em>FCC PodBean Sermon Archive</em></a>. These are also searchable by topic.</p>
            </div>
        </div>
    </div>
  
  
    <div class="col-md-6">
        <div class="our-team">
            <div class="our-team-image">
                <iframe width="420" height="315" src="https://itunes.apple.com/us/podcast/faith-community-church/id949482181?mt=2&uo=4" target="itunes_store" style="display:inline-block;overflow:hidden;background:url(https://linkmaker.itunes.apple.com/htmlResources/assets/en_us//images/web/linkmaker/badge_subscribe-lrg.png) no-repeat;width:135px;height:40px;@media only screen{background-image:url(https://linkmaker.itunes.apple.com/htmlResources/assets/en_us//images/web/linkmaker/badge_subscribe-lrg.svg);}" frameborder="0" allowfullscreen></iframe>           
            </div>
            <div class="our-team-text">
                <h5>Subscribe to the Podcast</h5>
                <h6>iTunes</h6>
                <p>You can stay on top of every week's teaching by subcribing to our FREE podcasts through iTunes. Each new podcast will automatically download to your iTunes account, iPhone, or iPad.</p>
            </div>
        </div>
    </div>
    
</div>


{% endblock %}