{% extends "base/base.html" %}

{% block subheading %}<h2>Welcome</h2>{% endblock %}

{% block body %}
<p>
Hey! Come on in and look around. Obviously we don't know where you've come from (duh) or where you are now (we have no spyware), but you can see our history and what's up these days. Thankfully for us all, God knows where we're at and He stands ready to help those who in dependence call out to Him.
</p><p>
That's the "Good News!" (Or Good Stuff, as I like to say) So check out the site and get a taste of what God is doing here at Faith. Then come for a visit, drop us an email, or give us a call. God is on the move here at FCC!
</p>
{% endblock %}