{% extends "base/base.html" %}

{% block subheading %}<h2>What We Do</h2>{% endblock %}

{% block body %}
<p>
We've got a lot going on here at FCC.  Since we are a family oriented church, many of our activities combine adults, youth, children, married, single, young and old alike.  But we also have specialized programming for YOUTH, CHILDREN, and ADULTS.  Also we encourage everyone to find a place of Christian service on one of our MINISTRY TEAMS.
</p>
<p>
Beyond what we do here locally, check our our GLOBAL ministry connections.
</p>
{% endblock %}