{% extends "base/subpage.html" %}

{% block subheading %}What We Do{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ root }}index.html">Home</a></li>
    <li class="active">What We Do</li>
{% endblock %}

{% block content %}
<p>
We've got a lot going on here at FCC.  Since we are a family oriented church, many of our activities combine adults, youth, children, married, single, young and old alike.  But we also have specialized programming for <a href="{{ root }}youth.html">YOUTH</a>, <a href="{{ root }}children.html">CHILDREN</a>, and <a href="{{ root }}adults.html">ADULTS</a>.  Also we encourage everyone to find a place of Christian service on one of our <a href="{{ root }}teams.html">MINISTRY TEAMS</a>.
</p>
<p>
Beyond what we do here locally, check our our GLOBAL ministry connections.
</p>
{% endblock %}