{% extends "base/subpage.html" %}

{% block subheading %}Who We Are{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ root }}index.html">Home</a></li>
    <li class="active">Who We Are</li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/bp7aoVjDn6w" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    
    <div class="spacer20"></div>
    
    <div class="row">
        <div class="col-md-12">
            <p>
                When you are looking for a home church people wonder whether there will be people like them there. We are a multigenerational church with newborn babies clear up to folks facing end-of-life issues. We have marrieds, singles, and families, people just like you would meet anywhere. Some work in construction, in education, in business, are students or retired.
            </p>           
            <p>
                We are a small or medium size church depending on your definition. We have a huge facility, but we do not fill it all up yet at this point. Although we do not belong to a particular denomination, we have people from a variety of backgrounds and we do cooperate in ministry with a several area churches. Unlike some churches, we still sing a couple of hymns weekly to connect us to the past, but most of our music is contemporary and is played with a full band.
            </p>        
            <p>
                Check out the other pages under <a href="{{ root }}whoweare.html">Who We Are</a> for more specifics on our <a href="{{ root }}history.html">History</a>, a <a href="{{ root }}current.html">Current</a> snapshot, bios on our <a href="{{ root }}staff.html">Staff</a>, and our <a href="{{ root }}beliefs.html">Beliefs</a>.
            </p>
        </div>
        
        <div class="col-md-4 text-center">
            <img src="{{ media }}img/whoweareworship.jpg" alt="">
        </div>
        
    </div>
      
    
{% endblock %}