{% extends "base/subpage.html" %}

{% block subheading %}Youth{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ root }}index.html">Home</a></li>
    <li><a href="{{ root }}whatwedo.html">What We Do</a></li>
    <li class="active">Youth</li>
{% endblock %}

{% block content %}
<p>
It's nice to have a place where you can just be yourself, meet new friends, and have some fun while you grow in your faith.  Pastor Mark and his wife Robyn are here to help you on the journey. 
</p>                            
<p>
While friends and activities are an important part of our group, the biggest deal, of course, is learning more about Jesus Christ and how to live lives that matter.
</p><p>
Students discover their gifts and plug them into the life of the overall church. It's not uncommon to find our youth serving as teen greeters, volunteering with children's programs, or playing on our worship team.   
</p>

<p>
Our group consists of junior high and senior high students from many of the surrounding school districts. Every Wednesday night a large group gathers for fun, friendship, and learning about Jesus. Since the youth group has grown, we will often break down into smaller groups by age and/or gender. We also offer an occasional small group Bible or book study in a home.
</p>

<p>
We also take trips to amusement parks (like Cedar Point), participate in the local weeklong outreach called SOS (Summer of Service), have youth retreats, movie/pizza nights, paint ball and more!
</p>

<ul class="list-3">
    <li><a href="{{ media }}pdfs/Youth_Medical_Release_Form.pdf" target="_blank"><span class="box-small-2"><i class="icon-file"></i></span>&nbsp;Medical Release Form</a></li>
    <li><a href="{{ media }}pdfs/FCC_Youth_Generic_Permission_Slip.pdf" target="_blank"><span class="box-small-2"><i class="icon-file"></i></span>&nbsp;Generic Permission Slip</a></li>
</ul>

<p>
You Are Invited!
</p>
{% endblock %}