{% extends "base/base.html" %}

{% block subheading %}<h2>Abraham Project</h2>{% endblock %}

{% block body %}
<p>
The Abraham Project ministers to an entire needy community by providing a family for at-risk children, a day care center, community services, and a church.  The project is a cooperative venture sponsored by Iglesia Comunidad el Faro ( Lighhouse Community Church ), missionaries Steve & Georgiana  Thomas, missionary Candace Brown, and short term mission teams that believe in their work.
</p><p>
The Abraham Project is so named because it is a project of faith.  Abraham was a man of great faith who trusted that God would hold true to His promises despite all of the obstacles that stood in his way.  Ever since the Abraham Project was founded, they have relied on God's faithfulness.  The project is 100% debt free and is built as the materials/finances come in.
</p>
{% endblock %}