{% extends "base/subpage.html" %}

{% block subheading %}Global{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ root }}index.html">Home</a></li>
    <li class="active">Global</li>
{% endblock %}

{% block content %}


    <div class="row">
        <div class="col-md-8">
            <p>
                In this section we will give you an idea of our global efforts to spread the gospel in other parts of the world. You will find a section focused on our partnerships with career missionaries and another section on our church's own short term mission trips to various fields.
            </p>               
        </div>
        
        <div class="col-md-4 text-center">
            <img src="{{ media }}img/globalfocus.jpg" alt="">
        </div>
        
    </div>
     
    <div class="spacer20"></div>
    
    <div class="row">
        <div class="col-md-12">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/5NTmRp-ikcQ" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>


{% endblock %}