{% extends "base/subpage.html" %}

{% block subheading %}Mission Trips{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ root }}index.html">Home</a></li>
    <li><a href="{{ root }}global/index.html">Global Focus</a></li>
    <li class="active">Mission Trips</li>
{% endblock %}

{% block extra_styles %}
<style type="text/css">
    .our-team-text>p:last-child {
        margin-bottom: 0;
    }
</style>
{% endblock %}

{% block content %}
<p>
    In addition to supporting long term missionaries, Faith Community Church also sends out occasional short term mission teams. The following videos recap these various trips.
</p>

<div class="row">

    <div class="col-md-6">
        <div class="our-team">
            <div class="our-team-image">

                <iframe width="560" height="315" src="https://www.youtube.com/embed/cSRBbqScFuE" frameborder="0" allowfullscreen></iframe>

            </div>
            <div class="our-team-text">
                <h5>Faith Community Church</h5>
                <h6>Costa Rica 2017</h6>
                <p>Faith Community Church ministered again at the Abraham Project in Costa Rica. In addition to various maintenance projects, the team built equipment to be used in the Day Care as part of the "Minds in Motion" program. They also assisted a missionary family relocate into their new home. Pastor Randy and Tammy stayed another week after the team to assist in a huge Vacation Bible School and to meet with various missionary couples offering pastoral input.</p>
            </div>
        </div>
    </div>


    <div class="col-md-6">
        <div class="our-team">
            <div class="our-team-image">

                <iframe width="560" height="315" src="https://www.youtube.com/embed/5ari6QRG2-M" frameborder="0" allowfullscreen></iframe>

            </div>
            <div class="our-team-text">
                <h5>Faith Community Church</h5>
                <h6>Nicaragua 2016</h6>
                <p>A video recap of Pastor Randy and Tammy's recent Pastoral Mission Trip to Isla de Ometepe, Nicaragua. Accompanied by friends from Faith Community Church, Harold and Rita Walt, the team went to encourage CTEN missionaries Tom and Esther Fritz in their mercy ministries on the island.</p>
            </div>
        </div>
    </div>

</div><div class="row">




<div class="row">

    <div class="col-md-6">
        <div class="our-team">
            <div class="our-team-image">

                <iframe width="560" height="315" src="https://www.youtube.com/embed/RJyu4ZTKYms" frameborder="0" allowfullscreen></iframe>

            </div>
            <div class="our-team-text">
                <h5>Faith Community Church</h5>
                <h6>Costa Rica 2014</h6>
                <p>Faith Community Church's 4th mission to assist Iglesia Comunidad el Faro's Abraham Project. In addition to construction work, some conducted English as a Second Language (ESL) classes for students in the Day Care.</p>
            </div>
        </div>
    </div>


    <div class="col-md-6">
        <div class="our-team">
            <div class="our-team-image">

                <iframe width="560" height="315" src="https://www.youtube.com/embed/EjgbNyRdCXo" frameborder="0" allowfullscreen></iframe>

            </div>
            <div class="our-team-text">
                <h5>Faith Community Church - College</h5>
                <h6>Nicaragua 2012</h6>
                <p>In 2012 Pastor Randy led a small team of Faith Community Church college students on a short term mission to Isla de Ometape, Nicaragua. Working with local missionaries, the team distributed clothes, prayed for people, and helped repair a roof. The students were also required to do some reading in missions and share at FCC upon their return.</p>
            </div>
        </div>
    </div>

</div><div class="row">

    <div class="col-md-6">
        <div class="our-team">
            <div class="our-team-image">

                <iframe width="560" height="315" src="https://www.youtube.com/embed/Ws0-0zahVoc" frameborder="0" allowfullscreen></iframe>

            </div>
            <div class="our-team-text">
                <h5>Faith Community Church</h5>
                <h6>Costa Rica 2011</h6>
                <p>Faith Community Church's 3rd mission trip to Costa Rica led by Pastor Randy. The team partnered with a mission team from Iglesia Comunidad el Faro and did a combined mission outreach to the Cabecar Indians.</p>
            </div>
        </div>
    </div>


    <div class="col-md-6">
        <div class="our-team">
            <div class="our-team-image">

                <iframe width="560" height="315" src="https://www.youtube.com/embed/ukEJc2GFQSw" frameborder="0" allowfullscreen></iframe>

            </div>
            <div class="our-team-text">
                <h5>Faith Community Church</h5>
                <h6>Costa Rica 2008</h6>
                <p>Faith Community Church's 2nd mission trip to Costa Rica led by Dr. Randy Smith. This time the team not only helped at the Abraham Project, but also went with the local church, Iglesia Comunidad el Faro, and another team from the USA, to the Costa Rican church's youth campout at Isla Damas.</p>
            </div>
        </div>
    </div>

</div><div class="row">

    <div class="col-md-6">
        <div class="our-team">
            <div class="our-team-image">

                <iframe width="560" height="315" src="https://www.youtube.com/embed/K948JQQSWrg" frameborder="0" allowfullscreen></iframe>

            </div>
            <div class="our-team-text">
                <h5>Faith Community Church</h5>
                <h6>Costa Rica 2005</h6>
                <p>Faith Community Church's first cross-cultural short term mission trip. The team went to San Jose, Costa Rica where they helped out at the Abraham Project, which is part of Iglesia Comunidad el Faro. The trip was lead by Pastor Randy Smith, PhD - who is a former missionary to Costa Rica.</p>
            </div>
        </div>
    </div>


</div>


{% endblock %}
