{% extends "base/subpage.html" %}

{% block subheading %}Clothes Pantry{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ root }}index.html">Home</a></li>
    <li><a href="{{ root }}service/index.html">Community Service</a></li>
    <li class="active">Clothes Pantry</li>
{% endblock %}

{% block content %}

<div class="container">
    <p>   
        Every Wednesday from 5:30-6:30PM we offer a free Clothes Pantry to the community. No identification is required. All we ask is that people just take what they need and be considerate of others - and the vast majority of users appreicate this simple system.
    </p>
    <p>
        Because we have such a large facility at our disposal, we are able to use one classroom just for women's clothing and another for the men and children. Clothes are organized and hung on racks for easy visibility by our Faith Community Church volunteers.
    </p>
    <p>
        The Clothes Pantry is a true community effort. While some clothes do come from our FCC families, the majority are donated by people in the community, other area churches who collect them for us - now that is being 'Kingdom-minded', and by the people who use the Clothes Pantry themselves. It is a ministry that gives dignity to both the giver and receiver, since people can both take and donate.
    </p>
    <p>
        By the way, clothing donations can be dropped off during normal business hours or simply left under the overhang by the main entrance. Thank you so much for your ongoing partnership!
    </p>
</div>

<div class="row">
    <div class="col-md-4 text-center">
        <img src="{{ media }}img/meal1.jpg" alt="">
    </div>
</div>
<div class="row">
    <div class="col-md-4 text-center">
        <img src="{{ media }}img/meal2.jpg" alt="">
    </div>
</div>
<div class="row">
    <div class="col-md-4 text-center">
        <img src="{{ media }}img/meal3.jpg" alt="">
    </div>
</div>

{% endblock %}