{% extends "base/subpage.html" %}

{% block subheading %}Community Meal{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ root }}index.html">Home</a></li>
    <li><a href="{{ root }}service/index.html">Community Service</a></li>
    <li class="active">Community Meal</li>
{% endblock %}

{% block content %}


<div class="container">
    <p>   
        Another way Faith Community Church forms a bridge to the community is with our quarterly Community Meals. This is not a feeding ministry, rather it is an opportunity for our regular attendees to serve and eat alongside people from our community - often those who utilize the Clothes Pantry. It is a low-key attempt to show Christ's love around something we all enjoy doing - <em>eating.</em>
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <img src="{{ media }}img/meal1.jpg" alt="">
    </div>
    <div class="col-md-4">
        <img src="{{ media }}img/meal2.jpg" alt="">
    </div>
    <div class="col-md-4">
        <img src="{{ media }}img/meal3.jpg" alt="">
    </div>
</div>


{% endblock %}