{% extends "base/subpage.html" %}

{% block subheading %}Community Service{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ root }}index.html">Home</a></li>
    <li class="active">Community Service</li>
{% endblock %}

{% block content %}


    <div class="row">
        <div class="col-md-6">
            <p>
                The following sub-pages are intended to give you a glimpse into our committment to doing mininstry for our local community. Our life in Jesus is not simply about church services and Bible studies, it also means we help one another in practical daily ways. While no church can do everything, we have tried to focus on a few areas in which we can do well.
            </p>

            <p>
                In the past we had a very large facility and we offered a weekly free clothes pantry, quarterly community meals, and an annual Pay It Forward free garage sale at Christmas. With our move to McKinley we will have less space, so we will need to see how the Lord wants us to bless the community from that location.
        </div>

        <div class="col-md-6 text-center">
            <img src="{{ media }}img/community.jpg" alt="">
        </div>

    </div>


{% endblock %}
