{% extends "base/subpage.html" %}

{% block subheading %}Pay It Forward{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ root }}index.html">Home</a></li>
    <li><a href="{{ root }}service/index.html">Community Service</a></li>
    <li class="active">Pay It Forward</li>
{% endblock %}

{% block content %}


    <div class="row">
        <div class="col-md-8">
            <p>
                Our most massive community outreach is the annual Pay It Forward event. Billed as a <em>free garage sale</em>, hundreds of people come by on a Saturday in December to take home whatever they want or need. Because of generous neighbors, area churches, and our own people, each child gets at least one toy and families have all sorts of things they can claim. 
            </p>
            <p>
                Again, like the Clothes Pantry, this is mainly successful because the surrounding community has embraced it as a way that they can Pay It Forward with things they are done with. Leftover garage sale items, clean-outs after a relative has passed away, or just stuff from Spring cleaning are all fair game to be regifted to others. Thank you Michiana churches and neighbors for your generous support of this wonderful means of blessing many!
            </p>               
        </div>
        
        <div class="col-md-4 text-center">
            <img src="{{ media }}img/payitforward.jpg" alt="">
        </div>
        
    </div>
     
    <div class="spacer20"></div>
    
    <div class="row">
        <div class="col-md-12">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/IVMm9HJsGKQ" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>


{% endblock %}