{% extends "base/subpage.html" %}

{% block subheading %}Summer of Service{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ root }}index.html">Home</a></li>
    <li><a href="{{ root }}service/index.html">Community Service</a></li>
    <li class="active">Summer of Service</li>
{% endblock %}

{% block content %}


<div class="row">
    <div class="col-md-6">
        <p>
            Summer of Service, known as SOS for short, is a youth-oriented summer community service outreach. Each June around 30 churches from various denominational backgrounds send youth and adult sponsors for a Thursday through Sunday event hosted at Bethel College. On Friday and Saturday hundreds of people fan out in teams across Michiana to help paint low-income homes in cooperation with local government, clean up parks, conduct block parties, do free car washes, or serve however needed. In the evenings there is fellowship, worship and teaching. Faith Community Church and River Valley Church have done the majority of organizing over the past few years, along with volunteers from a number of other churches.
        </p>
        <p>
            You can check out SOS Michiana's websit by clicking: <a href="http://summerofservice.net/" target="_blank"><em>Summer of Service</em></a> 
        </p>
    </div>
        
    <div class="col-md-6">

            <!-- revolution slider -->

            <ul>
                {# Include slider contents #}
                {% include "components/index-slider.html" %}
            </ul>

            <div class="tp-bannertimer"></div>


    </div>
        
</div>





{% endblock %}