{% extends "base/subpage.html" %}

{% block subheading %}Summer of Service{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ root }}index.html">Home</a></li>
    <li><a href="{{ root }}service/index.html">Community Service</a></li>
    <li class="active">Summer of Service</li>
{% endblock %}

{% block content %}


<div class="row">
    <div class="col-md-6">
        <p>
            Summer....
        </p>               
    </div>
        
    <div class="col-md-6">
<section>
    <!-- revolution slider -->
    <div class="fullwidthbanner-container">
        <div class="fullwidthbanner">
            <ul>
                {# Include slider contents #}
                {% include "components/index-slider.html" %}
            </ul>

            <div class="tp-bannertimer"></div>
        </div>
    </div>
</section>

    </div>
        
</div>





{% endblock %}