<li data-transition="fade" data-slotamount="15" data-masterspeed="300" data-thumb="{{ media }}img/1-big.jpg">
    <img src="{{ media }}img/revolution-slider/dkgray-big.jpg" data-fullwidthcentering="on" alt="">

    <div class="caption very_large_text lfl" data-x="center" data-y="200" data-speed="400" data-start="600" data-easing="easeOutExpo">Faith</div>
    
    <div class="caption very_large_text lfl" data-x="center" data-y="280" data-speed="400" data-start="1500" data-easing="easeOutExpo">Community</div>
    
    <div class="caption very_large_text lfl" data-x="center" data-y="360" data-speed="400" data-start="2400" data-easing="easeOutExpo">Church</div>

</li>

<li data-transition="fade" data-slotamount="15">
    <img src="{{ media }}img/index-slider/1.jpg" data-fullwidthcentering="on">
</li>

<li data-transition="fade" data-slotamount="15">
    <img src="{{ media }}img/index-slider/2.jpg" data-fullwidthcentering="on">
</li>