<li data-transition="fade" data-slotamount="15">
    <img src="{{ media }}img/sos-slider/sos1.jpg" data-fullwidthcentering="on">
</li>

<li data-transition="fade" data-slotamount="15">
    <img src="{{ media }}img/sos-slider/sos2.jpg" data-fullwidthcentering="on">
</li>

<li data-transition="fade" data-slotamount="15">
    <img src="{{ media }}img/sos-slider/sos3.jpg" data-fullwidthcentering="on">
</li>

<li data-transition="fade" data-slotamount="15">
    <img src="{{ media }}img/sos-slider/sos4.jpg" data-fullwidthcentering="on">
</li>

<li data-transition="fade" data-slotamount="15">
    <img src="{{ media }}img/sos-slider/sos5.jpg" data-fullwidthcentering="on">
</li>

<li data-transition="fade" data-slotamount="15">
    <img src="{{ media }}img/sos-slider/sos6.jpg" data-fullwidthcentering="on">
</li>